@import url("https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&display=swap");

body {
  font-family: "Lato", sans-serif;
  color: $color-text;
}

ul {
  list-style-type: none;
  padding: 0;
  li {
    letter-spacing: 0.2rem;
  }
}

.spanHeader {
  font-size: 1.3em;
  color: #ff8e30;
}

.error {
  font-size: 1.3rem;
  color: orangered;
}
.subtext {
  font-style: italic;
  font-size: 1.5em;
}

.covidIcon {
  animation: spin 10s linear infinite;
}

.cardContent {
  h1,
  h2 {
    text-align: center;
    letter-spacing: 0.35rem;
  }
  h1 {
    font-size: 3rem;
  }
  h2 {
    font-size: 3rem;
  }
}

.row1 {
  .cardsWrap {
    h2 {
      font-size: 2.8rem;
    }
  }
}

.row4 {
  & .card7 {
    & li {
      display: flex;
      align-items: center;
    }
  }
  & h3 {
    margin-block-start: 0;
  }
}

.card3 {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 1.5rem;
  animation: moveInOpacity 2s ease-in-out;
  .row3 {
    padding: 1rem;
    .card4 {
      height: 15rem;
      border-radius: 1.5rem;
      background: linear-gradient(
        180deg,
        $color-primary-ligther 0%,
        $color-primary 100%
      );
      display: flex;
      align-items: center;
      justify-content: center;
      text-align: center;
      p {
        color: $color-white;
        text-align: center;
        font-weight: bold;
        font-size: 2.5rem;
        letter-spacing: 0.3rem;
      }
    }
    .card5 {
      p {
        color: rgba(0, 0, 0, 0.6);
        letter-spacing: 0.2rem;
        font-weight: bold;
        font-size: 2.3rem;
        text-align: center;
        span {
          font-weight: 700;
          font-size: 1.1em;
          text-decoration: underline;
          padding: 0.2rem;
          word-wrap: break-word;
          color: $color-primary-darker;
        }
      }
    }
  }
}

.navBar-items {
    font-size: 1.2em;
    ul{
      list-style-type: none;
      padding: 0;
      .linkClass{
        color:$color-white;
        text-decoration: none;
        .linkIcon{
          text-align: center;
          font-size: 1.6em;
        }
      }
      .nav-text{
        @include displayFlexAlignCenterColumn;
        margin-bottom: 2em;
        padding:.3em;
      }
      .nav-text:hover{
        background: $color-white;
        border-radius: 1.5rem;
        .linkIcon,.linkTitle{
          color:$color-primary;
        }
      }
  
    }
  
  }
