.register{
    @include absolutePositioningCenter;
    text-align: center;
    svg{
      width:5rem;
      height:5rem;
      color:$color-primary;
    }
     form{ 
        //  display: flex;
        // flex-direction: column;
        // align-items: center;
       background: $color-white;
       box-shadow: 0 4px 20px rgba(0, 0, 0, 0.25);
       padding:2rem;
       border-radius: 1.5rem;
      .sections{
        display: flex;
        justify-content: space-around;
        align-items: center;
        .section-1{
          margin-right: 2rem;
        }
      }

     }
  }
  @media screen and (max-width: 600px) {
  .register{
    top:55%;
    form{
      width: 90%;
      .sections{
        .section-1,.section-2{
          width: 45%;
          input{
            width:60%;
            font-size: 1.5rem;
          }
        }
      }
    }
  }
  }
  
  