.row {
    display: flex;
    flex-direction: row;
    .colNavbar{
      width:8.33%;
      background: $color-primary;
    }
    .colDashboard{
      width: 92.77%;
    }
  }
  
  
  @media (max-width:1000px ) {
    .App{
      .row {
        display: flex;
        flex-direction: column;
        .colNavbar{
          width:100%;
  
        }
        .colDashboard{
          width: 100%;
        }
      }
    }
  }
  